.search{
    height: 25%;
    width: 100%;
    background: #F5F5F5;
    border-bottom: 2px solid #ECECEC;
    .icon-profile{
        height: 50%;
    }
    .input-block{
        height: 50%;
        display: grid;
        place-items: center;
        
        input[type=search]{
            width: 85%;
            height: 45%;
            font-size: 18px;
            border-radius: 50px;
            outline: none;
            border: 2px solid #ECECEC;
            padding: 10px 20px 10px 50px;
            background: #FAFAFA url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
        }
        input[type=search]::-webkit-input-placeholder {
        }
        input[type=search]::placeholder{
            
        }
    }
}