.App {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}
.bottom-frame{
  height: 5vh;
  width: 100%;
  overflow: hidden;
  background: #F5F5F5;
  border-top: 5px solid #DCDCDC;
}


